# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environment
backend/venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swpbackend/venv/
